html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1 Add Friends
        div.pull-right
          a(href="/") Return to home page

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Friend has been saved successfully
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 User Name
          div.col-sm-8
            input.form-control(
              placeholder='Type username',
              required=true,
              name='givenName',
              type='text',
              value=givenName)

        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Add


        div.form-group
          label.col-sm-4 Friend List
          div.col-sm-8
            input.form-control(
              name='f',
              type='text',
              readonly,
              textarea
              value=f)
