html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
    //-
      style(type='text/css').
        html, body, #map-canvas { height: 90%; margin: 0; padding: 0;}
      script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Yk1cm0k-m2BItGdHjyII79VSAxbPCMM')
      script(type='text/javascript').
        function initialize() {
        var mapOptions = {
        center: { lat: -34.397, lng: 150.644},
        zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

  body
    div.container

      .page-header
        h1 New Sales Report
        .pull-right
          a(href='/') Return to home page

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Your Sales Report has been submitted
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 Item Name
          div.col-sm-8
            input.form-control(
              placeholder='Item Name',
              required=true,
              name='itemName',
              type='text',
              value=itemName)
        div.form-group
          label.col-sm-4 Price
          div.col-sm-8
            input.form-control(placeholder='Item Price',
              required=true,
              name='price',
              type='number',
              value=price)
        div.form-group
          label.col-sm-4 Store Location
          div.col-sm-8
            input.form-control(placeholder='Store Address',
              required=true,
              name='location',
              type='text',
              value=location)
        div.form-group
          label.col-sm-4 Description
          div.col-sm-8
            input.form-control(placeholder='Item description',
              name='description',
              type='text',
              value=description)
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Submit

          img(src=map_img)

        //-
          #map-canvas
