html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1 New Sales Report

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Your Sales Report has been submitted
      form.login-form.form-horizontal(method='post', role='form')
        input(name='_csrf', type='hidden', value=csrfToken)

        div.form-group
          label.col-sm-4 Item Name
          div.col-sm-8
            input.form-control(
              placeholder='Item Name',
              required=true,
              name='itemName',
              type='text',
              value=itemName)
        div.form-group
          label.col-sm-4 Price
          div.col-sm-8
            input.form-control(placeholder='Item Price',
              required=true,
              name='price',
              type='number',
              value=price)
        div.form-group
          label.col-sm-4 Store Location
          div.col-sm-8
            input.form-control(placeholder='Store Address',
              required=true,
              name='location',
              type='text',
              value=location)
        div.form-group
          label.col-sm-4 Description
          div.col-sm-8
            input.form-control(placeholder='Item description',
              name='description',
              type='text',
              value=description)
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Submit
        div.pull-right
          a(href="/") Return to home page
